<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FlashCardDbContext"
				 connectionString="Data Source=(LocalDb)\LocalDb;Initial Catalog=ShiftLoggerDb;Integrated Security=True;"
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>